@model contact_diary.Models.Contact

@{
    ViewData["Title"] = "Details";
}
<!--
    Author: Moya Goleski
    File: Details.cshtml
    Last Updated: 01/31/2022
-->
<div class="row d-flex justify-content-center col-12">
    <div class="col-sm-9 col-md-7 align-middle">
        <a asp-action="Index" class="custom-link">Back to List</a>
        <h1>Contact Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Relation)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Relation)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.LandlineNumber)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.LandlineNumber)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-primary-custom">Edit </a>
        <a asp-action="Delete" asp-route-id="@Model.Id"  class="btn btn-danger">Delete</a>

    </div>
</div>