<!--
    Author: Moya Goleski
    File: Index.cshtml
    Last Updated: 01/31/2022
-->

@model IEnumerable<contact_diary.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<div class="row d-flex justify-content-center col-12">
    <div class="col-sm-9 col-md-7 align-middle">
        <a asp-action="Create" class="custom-link">Add Contact</a>
        <h1>Contacts</h1>
        <hr />
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-primary-custom btn-sm">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>